# Node.js
/backend/node_modules/
/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*

# Logs
/backend/logs
/backend/*.log

# Nginx
/nginx/*.conf

# Environment variables
/backend/.env

# Compiled output
/backend/dist/

# Dependency directories
/backend/pids/
/backend/*.pid
/backend/*.seed
/backend/*.pid.lock

# Caching
/backend/app.cache

# Production build
/backend/build/

# Yarn Integrity file
/backend/.yarn-integrity

# Editor-specific
/backend/.vscode/
/backend/.idea/
/backend/*.swp

# OS-specific
/backend/.DS_Store
/backend/Thumbs.db
